.Background {
  position: relative;
}
.Background:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url('../../../images/vertical1.jpg');
  background-size: auto;
}
.Related {
  width: 300px;
  color: aliceblue;
  text-align: left;
}